@using LearnMVC.ViewModels
@model FileUploadViewModel

@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection {
    Bulk Upload
}

@section ContentBody {
    <div>
        @Html.ActionLink("Back", "Index", "Employee")

        <form action="/BulkUpload/Upload" method="post" enctype="multipart/form-data">
            Select File : <input type="file" name="fileUpload" value="" />
            <input type="submit" name="name" value="Upload" />
        </form>
    </div>
}